# Ignore bundler config
.bundle

# Ignore all databases.
db/*.sqlite3
db/*.sql

# Ignore database, time and admin configs
config/database.yml
config/initializers/time.rb
config/initializers/admin.rb

# Ignore all logfiles and tempfiles.
log/*.log
tmp

*~
.*~
*#
.*#
.DS_Store
events.yml
spr-*.csv
*.orig
db/seeds.rb
vendor/ruby/
vendor
vendor/
vendor/*