<h1>Admin Control Panel</h1>
<%= link_to "Export Event Registration Info", "/admin/export", :style => "font-size: 1.5em; float: left;" %>
<%= link_to "View Session Statistics", "/admin/sessions", :style => "font-size: 1.5em; float: right;" %>
<br />
<%= link_to "Manually Register Students", "/admin/", :style => "font-size: 1.5em; float: left;" %>
<%= link_to "Send Bulk E-Mail", "/admin/email", :style => "font-size: 1.5em; float: right;" %>
