<h1>Review Event Registration Status</h1>
<div style="font-size: 2em;">
  <%= "Students registered: #{(Student.all.count) - (Student.all.collect {|s| s.workshop_ids == [] ? s : nil}.count)} of #{Student.all.count}" %>
  <br />
  <%= "Teachers registered: #{(Teacher.all.count) - (Teacher.all.collect {|s| s.workshop_ids == [] ? s : nil}.count)} of #{Teacher.all.count}" %>
</div>

<div style="height: 290px; background-color: #DDDBDB; border: 1px solid; overflow: auto;">
<table>

</table>
</div>
<br />
<%= link_to "Export Event Registration Info", "/admin/export", :style => "font-size: 1.5em;" %>

