<h1>Administrator Control Panel</h1>

<ul>
<li><%= link_to "Review Event Registration", "review" %><br />
<li><%= link_to "Export Event Registration", "export" %><br />
<li><%= link_to "Manually Manage Sites", "edit_events" %><br />
<li><%= link_to "Manually Manage Students", "edit_users"%><br />
</ul>
