<h1>Administrator Control Panel</h1>

<ul>
<li><%= link_to "Review Event Registration", "review" %><br />
<br />
<li><%= link_to "Export Event Registration", "export" %><br />
<br />
<li><%= link_to "Manually Manage Events", "edit_events" %><br />
</ul>
