<h1>Review Event Registration Status</h1>

<div style="height: 350px; background-color: #DDDBDB; width: 800px; border: 1px solid; overflow: auto;">
<table>
<%= Event.generate_html_list %>
</table>
</div>
