<h1>Review Event Registration Status</h1>
<div style="font-size: 2em;">
<%= "Students registered: #{User.registered.count}" %>
<br />
<%= "Students not yet registered: #{User.unregistered.count}" %>
</div>

<div style="height: 290px; background-color: #DDDBDB; width: 800px; border: 1px solid; overflow: auto;">
<table>
<%= EventHelper.generate_html_list.html_safe %>
</table>
</div>
<br />
<%= link_to "Export Event Registration Info", "export", :style => "font-size: 1.5em;" %>

