<h1>Review Event Registration Status</h1>
<div style="font-size: 2em;">
<%= "Seniors registered: #{User.where('grade = 12 AND event_id IS NOT NULL').count}/#{User.where('grade=12').count} (#{(User.where('grade = 12 AND event_id IS NOT NULL').count.to_f/User.where('grade=12').count).to_s[0..4]})" %>
<br />
<%= "Juniors registered: #{User.where('grade = 11 AND event_id IS NOT NULL').count}/#{User.where('grade=11).count} (#{(User.where('grade = 11 AND event_id IS NOT NULL').count.to_f/User.where('grade=11).count).to_s[0..4]})" %>
</div>

<div style="height: 290px; background-color: #DDDBDB; border: 1px solid; overflow: auto;">
<table>
<%= EventHelper.generate_html_list.html_safe %>
</table>
</div>
<br />
<%= link_to "Export Event Registration Info", "export", :style => "font-size: 1.5em;" %>

