<style>
body
{
background-image:url('/assets/earth.png');
background-repeat:no-repeat;
background-attachment:fixed;
background-position: right bottom;
}
</style>
<h1>We're sorry, but something went wrong.</h1>
<p>You broke the server!  We hope you're proud.  Click the logo in the top left corner to return to the homepage.</p>
<p>If this error persists, please tell an administrator.</p>
