<h1>Register for Sites</h1>

<p style="width: 500px;"></p>

<%= form_tag(:controller => "user", :action => "register_event") do %>

<% unless session[:user][:event].nil? %>
<p>Currently registered for site: <%= session[:user][:event].name %></p>
<% else %>
<p>Not currently registered for a site.</p>
<% end %>
<label for="sessionid">Event:</label><br/>

<%= select("event", "sessionid", ["--Unregister--"].concat(Event.all.collect {|e| [ "#{e.name} - #{e.currentcapacity}/#{e.maxcapacity}", e.id ] }), { :include_blank => true }) %>


<br/>

<%= submit_tag("Submit")%>

<% end %>

