<style type="text/css">
  .text{font-family: Verdana, Geneva, sans-serif;}
  .text label{font-size: 1.5em;}
  h1 {font-size: 2.2em;}
</style>
  <h1 class="text">Step 1: Log In</h1>

  <div style="float: left; ">
    <%= image_tag "/assets/steele.png" %>
  </div>
  
  <div class="text">
    <p>Folks:<br />We encountered an error where, when signing up for a site that was already full, the website wouldn't do anything and register you for the other two silently.  We are in the process of fixing this.<br />Registration reopening to be determined.  Tentatively tomorrow.</p>
  </div>
  
  </div>
</div>
