<h1>Please Log In</h1>

<p style="width: 500px;">Your username is your first initial followed by your last name and your year.  For example: ajacobsohn14, dlehr12.  This is the same username that you use to access your Regis Jesuit netowrk account.  Your password to gain access to this site is your student ID number, located near the barcode on your student ID.</p>

<%= form_tag(:action => "login") do %>

<label for="name">Username:</label><br/>
<%= text_field("user", "name", :size => 20 )%><br/>

<label for="student_id">Student ID:</label><br/>
<%= password_field("user", "student_id", :size => 20)%><br/>

<%= submit_tag("Submit")%>

<% end %>

