<h1>Step 2: Wait</h1>

<p>Registration will (tentatively) open on <strong>Thursday, September 27th at 5:00 AM Mountain Time</strong>.  Until then, to keep things fair, you'll have to wait.  The button below will link you to the registration page when that time comes.  For now, though, it'll just refresh this page.</p>

<p>When you get to the registration page, you'll be presented with a <strong>drop-down box</strong> containing every service site available for registration this year.  Each site will be presented in the following format:</p>

<p><strong>free/taken - Site Name</strong></p>
<p>e.g.</p>
<p><strong>0/2 - At-Risk Youth - Praying Hands Ranch</strong></p>

<p>When the time has come, <%= link_to "click here!", "edit_sessions" %></p>
