<h1>Step 2: Wait</h1>

<p>Registration will (tentatively) open on <strong>Thursday, September 27th at 5:00 AM Mountain Time</strong>.  Until then, to keep things fair, you'll have to wait.  The button below will link you to the registration page when that time comes.  For now, though, it'll just refresh this page.</p>

<p>When you get to the registration page, you'll be presented with a <strong>drop-down box</strong> containing every service site available for registration this year.  Sites are presented alphabetically by site category.  Each site will be presented in the following format:</p>

<p><strong>taken/total - Site Category - Site Name</strong></p>
<p>e.g.</p>
<p><strong>0/2 - At-Risk Youth - Praying Hands Ranch</strong></p>

<p>All you have to do is select the correct site from the drop down box, click it, and click Submit.  <strong>Make sure to verify that you're choosing the correct site!</strong>  If you mistakenly click the wrong site and submit, you will <strong>not</strong> be able to undo your action without talking to your service coordinator.  Plus, you fill up a spot that someone else might want, so no good will come of it.</p>

<p>If you have any problems registering, you misregister, or you later find that you cannot attend the site for which you registered, contact your service coordinator.</p>

<p>When the time has come, <%= link_to "click here!", "edit_sessions" %></p>
