<style>
body
{
background-image:url('/assets/earth.png');
background-repeat:no-repeat;
background-attachment:fixed;
background-position: right bottom;
}
</style>
<style type="text/css">
.text{
  font-family: Verdana, Geneva, sans-serif;
}
.text label{
  font-size: 1.5em;
}
h1 {
  font-size: 2.5em;
}
td {
  border-bottom: dashed;
  padding: 5px;
}
table {
  padding:10px;
}
select {
  width: 45em;
}

</style>

<% content_for(:head) do %>
  <% javascript_include_tag :register %>
<% end %>

<% if user.done? %>

<h2>You are done! You can <%= link_to "Log Out", "/user/logout" %> or <%= link_to "View Details", "/user/details" %>.</h2>

<% else %>

<p class="text">Click on a workshop to see its description. Press submit to sign up for the highlited workshops.</p>

<% end %>

<%= render "workshop_selector" %>

