<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>RJ Diversity Day Registration Will Open Monday, February 24th</h1>
    <p>
      
    </p>
    <p>
      Your username is your e-mail address.<br/>
    </p>
    <p>Thanks for participating!  Feel free to ask for clarifications or report any problems by e-mailing <a href='mailto:mahaney@q.com'>the website admins</a>, <a href='mailto:lglasscock@regisjesuit.com'>Ms Glasscock</a>, or <a href='mailto:cvela@regisjesuit.com'>Ms Vela</a>, as appropriate.</p>
  </body>
</html>
