<style type="text/css">
 .text{font-family: Helvetica, Arial, sans-serif;}
 .text label{font-size: 1.5em;}
 h1 {font-size: 2.2em;}
</style>

<h1 class="text">Step 1: Log In</h1>

<div class="text" style="float: left">
  <div class="text" style="float: left; position: relative; left: 15%;" >
    <form action="/login" accept-charset="UTF-8" method="post">
      <%= csrf_token_field %>
      <label for="user_prefix">Username:</label><br/><br/>
      <input size="20" type="text" name="prefix" id="prefix" />
      <p>This is the same as the first part of your Regis Jesuit email.</p>
      <label for="user_number">ID Number:</label><br/><br/>
      <input size="20" type="password" name="number" id="number" />
      <p>The number on your student/teacher ID.</p>
      <input type="submit" name="commit" value="Login" />
    </form>
  </div>
</div>
<div class="text" style="float: left; position: relative; left: 10%; top: 40px;">
  <%= image_tag "/images/id.jpg", height:"200px", width:"336px" %>
</div>
